#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url("/static/clock.png") no-repeat; 
    background-size: 100%;

}

#hour, #minute , #second{
         position:absolute;
         background-color: black;
         border-radius: 10px;
         transform-origin: bottom;
            
}

#hour{
    height: 24%;
    width: 1%;
    top: 26%;
    left: 48.8%;

}

#minute{
    height: 28%;
    width: 1%;
    top: 22%;
    left: 48.8%;
    
}

#second{
    height: 32%;
    width: 1%;
    top: 18%;
    left: 48.8%;
  
}

